$green: #80bd01;

$ocean-blue: #16b4e4;

$light-blue-1: #5191db;
$light-blue: #4378b5;
$dark-blue: #214190;
$light-grey: #ebebeb;

$dark-grey: #333333;
$dark-grey-0: #4a4a4a;

$dark-grey-1: #595959;
$dark-grey-2: #7f7f7f;

$dark-orange: #ff8400;
$dark-orange1: #cc7113;
$override-orange: #ff8e19;

$control-warn: rgba(253, 211, 140, 0.601);
$control-warn1: #fce3b9;

$alarm: #c62021;

$field-default: #e0e2ec;

$slider-width: calc(50% - 30px);